## Naive Bayes

Nama   : Moh. Najib Fikri
NIM    : 202410102033
Kelas  : Datamining A

In [25]:
# import dataset menggunakan library sklearn
import pandas as pd
from sklearn.datasets import load_iris
df = load_iris()

In [26]:
df

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'c:\\users\\fikri\\appdata\\local\\programs\\python\\python39\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}

In [27]:
# memisahkan antara atribut data dengan atribut kelas
inputs = df.data
target = df.target

In [28]:
# membuat data train dan data tes
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.4)

In [29]:
X_train

array([[5.1, 3.7, 1.5, 0.4],
       [4.9, 3.1, 1.5, 0.1],
       [5.6, 2.8, 4.9, 2. ],
       [6.3, 2.8, 5.1, 1.5],
       [5. , 3. , 1.6, 0.2],
       [5.8, 2.7, 5.1, 1.9],
       [6.3, 2.5, 5. , 1.9],
       [5. , 2.3, 3.3, 1. ],
       [4.4, 3.2, 1.3, 0.2],
       [5.8, 4. , 1.2, 0.2],
       [7.2, 3.6, 6.1, 2.5],
       [6.7, 3.1, 5.6, 2.4],
       [6. , 3. , 4.8, 1.8],
       [6.3, 2.9, 5.6, 1.8],
       [5.4, 3. , 4.5, 1.5],
       [5.7, 3.8, 1.7, 0.3],
       [6.3, 2.5, 4.9, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [4.6, 3.6, 1. , 0.2],
       [6.8, 3. , 5.5, 2.1],
       [5.1, 3.4, 1.5, 0.2],
       [4.6, 3.4, 1.4, 0.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3.3, 5.7, 2.1],
       [5.8, 2.7, 5.1, 1.9],
       [6.5, 3. , 5.8, 2.2],
       [6. , 2.7, 5.1, 1.6],
       [4.5, 2.3, 1.3, 0.3],
       [6. , 3.4, 4.5, 1.6],
       [5.8, 2.8, 5.1, 2.4],
       [5.1, 3.8, 1.6, 0.2],
       [5.5, 2.6, 4.4, 1.2],
       [5.7, 2.5, 5. , 2. ],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [5.8, 2.6, 4. , 1.2],
       [5.4, 3.9, 1.3, 0.4],
       [4.3, 3. , 1.1, 0.1],
       [6.2, 2.2, 4.5, 1.5],
       [5. , 3.5, 1.6, 0.6],
       [6. , 2.2, 5. , 1.5],
       [5.4, 3.4, 1.5, 0.4],
       [5.6, 2.7, 4.2, 1.3],
       [7.7, 2.8, 6.7, 2. ],
       [5.1, 3.5, 1.4, 0.3],
       [5.2, 3.5, 1.5, 0.2],
       [5.1, 3.5, 1.4, 0.2],
       [6.3, 3.3, 6. , 2.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.9, 3.1, 5.1, 2.3],
       [4.8, 3. , 1.4, 0.1],
       [4.8, 3. , 1.4, 0.3],
       [4.8, 3.4, 1.9, 0.2],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.3, 4.4, 1.3],
       [6.5, 3. , 5.5, 1.8],
       [5.8, 2.7, 4.1, 1. ],
       [5.9, 3. , 5.1, 1.8],
       [6.7, 3.1, 4.4, 1.4],
       [6.7, 3.1, 4.7, 1.5],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3. , 5. , 1.7],
       [5.7, 4.4, 1.5, 0.4],
       [6.7, 2.5, 5.8, 1.8],
       [5.9, 3.2, 4.8, 1.8],
       [6.4, 2.9, 4.3, 1.3],
       [7.2, 3. , 5.8, 1.6],
       [5.6, 2.5, 3.9, 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [5.5, 2.4, 3.8, 1.1],
       [5.6, 3. , 4.5, 1.5],
       [5.1, 3.3, 1.7, 0.5],
       [6.4, 3.1, 5.5, 1.8],
       [4.9, 3.1, 1.5, 0.2],
       [6.3, 3.4, 5.6, 2.4],
       [4.9, 3. , 1.4, 0.2],
       [6.4, 2.8, 5.6, 2.2],
       [5.9, 3. , 4.2, 1.5],
       [7.6, 3. , 6.6, 2.1],
       [5.5, 2.4, 3.7, 1. ],
       [6.9, 3.1, 4.9, 1.5],
       [4.4, 2.9, 1.4, 0.2],
       [6.6, 3. , 4.4, 1.4],
       [6.2, 3.4, 5.4, 2.3],
       [5.5, 3.5, 1.3, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [4.9, 3.6, 1.4, 0.1],
       [5.6, 3. , 4.1, 1.3],
       [6.4, 3.2, 4.5, 1.5],
       [5. , 3.5, 1.3, 0.3]])

In [31]:
X_test

array([[6.5, 3.2, 5.1, 2. ],
       [4.8, 3.4, 1.6, 0.2],
       [5.8, 2.7, 3.9, 1.2],
       [5.4, 3.7, 1.5, 0.2],
       [7.4, 2.8, 6.1, 1.9],
       [5.2, 2.7, 3.9, 1.4],
       [4.6, 3.2, 1.4, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [6.5, 2.8, 4.6, 1.5],
       [5.1, 3.8, 1.5, 0.3],
       [4.9, 2.4, 3.3, 1. ],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 3. , 1.3, 0.2],
       [6.3, 3.3, 4.7, 1.6],
       [6.4, 2.8, 5.6, 2.1],
       [7.7, 3.8, 6.7, 2.2],
       [5.1, 3.8, 1.9, 0.4],
       [5.4, 3.4, 1.7, 0.2],
       [6.9, 3.2, 5.7, 2.3],
       [6.1, 3. , 4.9, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.1, 2.9, 4.7, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.4, 2.7, 5.3, 1.9],
       [4.7, 3.2, 1.6, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [5.2, 4.1, 1.5, 0.1],
       [7.7, 3. , 6.1, 2.3],
       [5.1, 2.5, 3. , 1.1],
       [6.5, 3. , 5.2, 2. ],
       [6.1, 2.6, 5.6, 1.4],
       [5.5, 4.2, 1.4, 0.2],
       [6.2, 2.9, 4.3, 1.3],
       [5.7, 2.9, 4.2, 1.3],
       [4.9, 2.5, 4.5, 1.7],
       [4.7, 3.2, 1.3, 0.2],
       [6.1, 2.8, 4.7, 1.2],
       [5.2, 3.4, 1.4, 0.2],
       [7.2, 3.2, 6. , 1.8],
       [5.5, 2.3, 4. , 1.3],
       [6.3, 2.7, 4.9, 1.8],
       [7.7, 2.6, 6.9, 2.3],
       [5.4, 3.9, 1.7, 0.4],
       [5. , 3.2, 1.2, 0.2],
       [5. , 2. , 3.5, 1. ],
       [6. , 2.2, 4. , 1. ],
       [6.9, 3.1, 5.4, 2.1],
       [6.8, 3.2, 5.9, 2.3],
       [5.3, 3.7, 1.5, 0.2],
       [6.7, 3. , 5.2, 2.3],
       [7.9, 3.8, 6.4, 2. ],
       [5.5, 2.5, 4. , 1.3],
       [5.7, 3. , 4.2, 1.2],
       [6. , 2.9, 4.5, 1.5],
       [6.6, 2.9, 4.6, 1.3],
       [7.3, 2.9, 6.3, 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [5. , 3.6, 1.4, 0.2],
       [6.4, 3.2, 5.3, 2.3],
       [6.1, 3. , 4.6, 1.4]])

In [32]:
# meminimalisasi skala nilai data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [33]:
X_train

array([[-0.87467155,  1.54678916, -1.22879837, -1.01743893],
       [-1.13404697,  0.11408565, -1.22879837, -1.4059941 ],
       [-0.226233  , -0.60226611,  0.69355491,  1.05485535],
       [ 0.68158096, -0.60226611,  0.80663451,  0.40726339],
       [-1.00435926, -0.12469827, -1.17225857, -1.27647571],
       [ 0.03314241, -0.84105003,  0.80663451,  0.92533696],
       [ 0.68158096, -1.31861786,  0.75009471,  0.92533696],
       [-1.00435926, -1.7961857 , -0.21108193, -0.24032857],
       [-1.78248552,  0.35286957, -1.34187798, -1.27647571],
       [ 0.03314241,  2.26314092, -1.39841778, -1.27647571],
       [ 1.84877035,  1.30800525,  1.37203254,  1.70244731],
       [ 1.2003318 ,  0.11408565,  1.08933353,  1.57292892],
       [ 0.29251783, -0.12469827,  0.63701511,  0.79581857],
       [ 0.68158096, -0.36348219,  1.08933353,  0.79581857],
       [-0.48560842, -0.12469827,  0.4673957 ,  0.40726339],
       [-0.09654529,  1.78557308, -1.11571877, -1.14695732],
       [ 0.68158096, -1.31861786,  0.69355491,  0.40726339],
       [-0.09654529, -1.07983394, -0.09800232, -0.24032857],
       [-1.5231101 ,  1.30800525, -1.51149739, -1.27647571],
       [ 1.33001951, -0.12469827,  1.03279372,  1.18437374],
       [-0.87467155,  0.83043741, -1.22879837, -1.27647571],
       [-1.5231101 ,  0.83043741, -1.28533818, -1.14695732],
       [ 1.2003318 ,  0.59165349,  1.14587333,  1.70244731],
       [ 1.2003318 ,  0.59165349,  1.14587333,  1.18437374],
       [ 0.03314241, -0.84105003,  0.80663451,  0.92533696],
       [ 0.94095638, -0.12469827,  1.20241313,  1.31389213],
       [ 0.29251783, -0.84105003,  0.80663451,  0.53678178],
       [-1.65279781, -1.7961857 , -1.34187798, -1.14695732],
       [ 0.29251783,  0.83043741,  0.4673957 ,  0.53678178],
       [ 0.03314241, -0.60226611,  0.80663451,  1.57292892],
       [-0.87467155,  1.78557308, -1.17225857, -1.27647571],
       [-0.35592071, -1.07983394,  0.4108559 ,  0.01870821],
       [-0.09654529, -1.31861786,  0.75009471,  1.05485535],
       [-1.5231101 ,  0.11408565, -1.22879837, -1.27647571],
       [-1.00435926,  0.59165349, -1.28533818, -1.27647571],
       [ 0.03314241, -1.07983394,  0.18469669,  0.01870821],
       [-0.48560842,  2.024357  , -1.34187798, -1.01743893],
       [-1.91217323, -0.12469827, -1.45495758, -1.4059941 ],
       [ 0.55189325, -2.03496962,  0.4673957 ,  0.40726339],
       [-1.00435926,  1.06922133, -1.17225857, -0.75840214],
       [ 0.29251783, -2.03496962,  0.75009471,  0.40726339],
       [-0.48560842,  0.83043741, -1.22879837, -1.01743893],
       [-0.226233  , -0.84105003,  0.29777629,  0.1482266 ],
       [ 2.49720889, -0.60226611,  1.71127135,  1.05485535],
       [-0.87467155,  1.06922133, -1.28533818, -1.14695732],
       [-0.74498384,  1.06922133, -1.22879837, -1.27647571],
       [-0.87467155,  1.06922133, -1.28533818, -1.27647571],
       [ 0.68158096,  0.59165349,  1.31549274,  1.70244731],
       [-0.09654529, -0.60226611,  0.4673957 ,  0.1482266 ],
       [ 1.45970722,  0.11408565,  0.80663451,  1.44341053],
       [-1.26373468, -0.12469827, -1.28533818, -1.4059941 ],
       [-1.26373468, -0.12469827, -1.28533818, -1.14695732],
       [-1.26373468,  0.83043741, -1.00263916, -1.27647571],
       [ 1.71908264, -0.12469827,  1.25895293,  1.18437374],
       [ 0.68158096, -1.7961857 ,  0.4108559 ,  0.1482266 ],
       [ 0.94095638, -0.12469827,  1.03279372,  0.79581857],
       [ 0.03314241, -0.84105003,  0.24123649, -0.24032857],
       [ 0.16283012, -0.12469827,  0.80663451,  0.79581857],
       [ 1.2003318 ,  0.11408565,  0.4108559 ,  0.277745  ],
       [ 1.2003318 ,  0.11408565,  0.58047531,  0.40726339],
       [-0.226233  , -0.36348219, -0.04146252,  0.1482266 ],
       [ 1.2003318 , -0.12469827,  0.75009471,  0.66630017],
       [-0.09654529,  3.2182766 , -1.22879837, -1.01743893],
       [ 1.2003318 , -1.31861786,  1.20241313,  0.79581857],
       [ 0.16283012,  0.35286957,  0.63701511,  0.79581857],
       [ 0.81126867, -0.36348219,  0.3543161 ,  0.1482266 ],
       [ 1.84877035, -0.12469827,  1.20241313,  0.53678178],
       [-0.226233  , -1.31861786,  0.12815689, -0.11081018],
       [-0.09654529, -0.60226611,  0.24123649,  0.1482266 ],
       [-0.35592071, -1.55740178,  0.07161708, -0.11081018],
       [-0.226233  , -0.12469827,  0.4673957 ,  0.40726339],
       [-0.87467155,  0.59165349, -1.11571877, -0.88792053],
       [ 0.81126867,  0.11408565,  1.03279372,  0.79581857],
       [-1.13404697,  0.11408565, -1.22879837, -1.27647571],
       [ 0.68158096,  0.83043741,  1.08933353,  1.57292892],
       [-1.13404697, -0.12469827, -1.28533818, -1.27647571],
       [ 0.81126867, -0.60226611,  1.08933353,  1.31389213],
       [ 0.16283012, -0.12469827,  0.29777629,  0.40726339],
       [ 2.36752118, -0.12469827,  1.65473155,  1.18437374],
       [-0.35592071, -1.55740178,  0.01507728, -0.24032857],
       [ 1.45970722,  0.11408565,  0.69355491,  0.40726339],
       [-1.78248552, -0.36348219, -1.28533818, -1.27647571],
       [ 1.07064409, -0.12469827,  0.4108559 ,  0.277745  ],
       [ 0.55189325,  0.83043741,  0.97625392,  1.44341053],
       [-0.35592071,  1.06922133, -1.34187798, -1.27647571],
       [-1.00435926,  0.83043741, -1.17225857, -1.01743893],
       [-1.13404697,  1.30800525, -1.28533818, -1.4059941 ],
       [-0.226233  , -0.12469827,  0.24123649,  0.1482266 ],
       [ 0.81126867,  0.35286957,  0.4673957 ,  0.40726339],
       [-1.00435926,  1.06922133, -1.34187798, -1.14695732]])

In [34]:
X_test

array([[ 0.94095638,  0.35286957,  0.80663451,  1.05485535],
       [-1.26373468,  0.83043741, -1.17225857, -1.27647571],
       [ 0.03314241, -0.84105003,  0.12815689,  0.01870821],
       [-0.48560842,  1.54678916, -1.22879837, -1.27647571],
       [ 2.10814576, -0.60226611,  1.37203254,  0.92533696],
       [-0.74498384, -0.84105003,  0.12815689,  0.277745  ],
       [-1.5231101 ,  0.35286957, -1.28533818, -1.27647571],
       [-1.26373468,  0.11408565, -1.17225857, -1.27647571],
       [ 0.94095638, -0.60226611,  0.5239355 ,  0.40726339],
       [-0.87467155,  1.78557308, -1.22879837, -1.14695732],
       [-1.13404697, -1.55740178, -0.21108193, -0.24032857],
       [-1.00435926,  0.83043741, -1.22879837, -1.27647571],
       [-1.78248552, -0.12469827, -1.34187798, -1.27647571],
       [ 0.68158096,  0.59165349,  0.58047531,  0.53678178],
       [ 0.81126867, -0.60226611,  1.08933353,  1.18437374],
       [ 2.49720889,  1.78557308,  1.71127135,  1.31389213],
       [-0.87467155,  1.78557308, -1.00263916, -1.01743893],
       [-0.48560842,  0.83043741, -1.11571877, -1.27647571],
       [ 1.45970722,  0.35286957,  1.14587333,  1.44341053],
       [ 0.42220554, -0.12469827,  0.69355491,  0.79581857],
       [ 0.42220554, -0.60226611,  0.18469669,  0.1482266 ],
       [ 0.42220554, -0.36348219,  0.58047531,  0.277745  ],
       [ 1.33001951, -0.60226611,  0.63701511,  0.277745  ],
       [ 0.81126867, -0.84105003,  0.91971412,  0.92533696],
       [-1.39342239,  0.35286957, -1.17225857, -1.27647571],
       [ 1.58939493,  0.35286957,  0.58047531,  0.277745  ],
       [-0.74498384,  2.50192484, -1.22879837, -1.4059941 ],
       [ 2.49720889, -0.12469827,  1.37203254,  1.44341053],
       [-0.87467155, -1.31861786, -0.38070134, -0.11081018],
       [ 0.94095638, -0.12469827,  0.86317432,  1.05485535],
       [ 0.42220554, -1.07983394,  1.08933353,  0.277745  ],
       [-0.35592071,  2.74070876, -1.28533818, -1.27647571],
       [ 0.55189325, -0.36348219,  0.3543161 ,  0.1482266 ],
       [-0.09654529, -0.36348219,  0.29777629,  0.1482266 ],
       [-1.13404697, -1.31861786,  0.4673957 ,  0.66630017],
       [-1.39342239,  0.35286957, -1.34187798, -1.27647571],
       [ 0.42220554, -0.60226611,  0.58047531,  0.01870821],
       [-0.74498384,  0.83043741, -1.28533818, -1.27647571],
       [ 1.84877035,  0.35286957,  1.31549274,  0.79581857],
       [-0.35592071, -1.7961857 ,  0.18469669,  0.1482266 ],
       [ 0.68158096, -0.84105003,  0.69355491,  0.79581857],
       [ 2.49720889, -1.07983394,  1.82435096,  1.44341053],
       [-0.48560842,  2.024357  , -1.11571877, -1.01743893],
       [-1.00435926,  0.35286957, -1.39841778, -1.27647571],
       [-1.00435926, -2.51253746, -0.09800232, -0.24032857],
       [ 0.29251783, -2.03496962,  0.18469669, -0.24032857],
       [ 1.45970722,  0.11408565,  0.97625392,  1.18437374],
       [ 1.33001951,  0.35286957,  1.25895293,  1.44341053],
       [-0.61529613,  1.54678916, -1.22879837, -1.27647571],
       [ 1.2003318 , -0.12469827,  0.86317432,  1.44341053],
       [ 2.75658431,  1.78557308,  1.54165195,  1.05485535],
       [-0.35592071, -1.31861786,  0.18469669,  0.1482266 ],
       [-0.09654529, -0.12469827,  0.29777629,  0.01870821],
       [ 0.29251783, -0.36348219,  0.4673957 ,  0.40726339],
       [ 1.07064409, -0.36348219,  0.5239355 ,  0.1482266 ],
       [ 1.97845805, -0.36348219,  1.48511214,  0.79581857],
       [ 0.55189325, -0.60226611,  0.63701511,  0.79581857],
       [-1.00435926,  1.30800525, -1.28533818, -1.27647571],
       [ 0.81126867,  0.35286957,  0.91971412,  1.44341053],
       [ 0.42220554, -0.12469827,  0.5239355 ,  0.277745  ]])

In [20]:
# proses utama klasifikasi dengan algoritma naive bayes 
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
classifier.score(X_train, y_train)

0.9555555555555556

In [35]:
y_pred = classifier.predict(X_test) 
y_pred

array([2, 0, 1, 0, 2, 1, 0, 0, 1, 0, 1, 0, 0, 1, 2, 2, 0, 0, 2, 2, 1, 1,
       1, 2, 0, 1, 0, 2, 1, 2, 1, 0, 1, 1, 1, 0, 1, 0, 2, 1, 1, 2, 0, 0,
       1, 1, 2, 2, 0, 2, 2, 1, 1, 1, 1, 2, 1, 0, 2, 1])

In [36]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[18,  0,  0],
       [ 0, 21,  0],
       [ 0,  4, 17]], dtype=int64)

In [2]:
# 3.	jelaskan apakah tujuan dari kode blok 3
#blok 3
inputs = df.drop('Species_name',axis='columns')
target = df.Species_name
target

0       Setosa
1       Setosa
2       Setosa
3       Setosa
4       Setosa
        ...
145    unknown
146    unknown
147    unknown
148    unknown
149    unknown
Name: Species_name, Length: 150, dtype: object

In [24]:
from sklearn.metrics import accuracy_score 
akurasi = accuracy_score(y_test, y_pred)
print (f"Akurasi : {round(akurasi, 2)}")

Akurasi : 0.97

In [5]:
# 4.	jelaskan apakah tujuan dari kode blok 4 - 6
#blok 4
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

AttributeError: 'DataFrame' object has no attribute 'Sex'

In [10]:
#blok 5
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [11]:
#blok 6
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [32]:
# 5.	jelaskan output kode blok 7 - 9. apakah yang yang dilakukan pada kode blok 14
#blok 7
inputs.columns[inputs.isna().any()]

     Pclass        Age     Fare  female
0         3  22.000000   7.2500       0
1         1  38.000000  71.2833       1
2         3  26.000000   7.9250       1
3         1  35.000000  53.1000       1
4         3  35.000000   8.0500       0
..      ...        ...      ...     ...
886       2  27.000000  13.0000       0
887       1  19.000000  30.0000       1
888       3  29.699118  23.4500       1
889       1  26.000000  30.0000       0
890       3  32.000000   7.7500       0

[891 rows x 4 columns]

In [13]:
#blok 9
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [29]:
#blok 10
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [30]:
# 7.	jelaskan tahapan klasifikasi yang dilakukan pada kode blok 11
#blok 11
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.75

In [31]:
#blok 12
X_test[0:10]

     Pclass        Age     Fare  female
262       1  52.000000  79.6500       0
141       3  22.000000   7.7500       1
619       2  26.000000  10.5000       0
605       3  36.000000  15.5500       0
727       3  29.699118   7.7375       1
666       2  25.000000  13.0000       0
823       3  27.000000  12.4750       1
549       2   8.000000  36.7500       0
740       1  29.699118  30.0000       0
165       3   9.000000  20.5250       0